<h2>Employee Details</h2>
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Department</th>
          <th>Email</th>
          <th>Age</th>
          <th>Joining Date</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.joiningdate }}</td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
  
  <!--<table class = "table table-success table-striped">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">JoiningDate</th>

            </tr>
        </thead>
        <tbody> 
            <tr>
                <th scope="row">2349</th>

                 <td>Akash Kalikiri</td>
                 <td>Automotive</td>
                 <td>akash1@gmail.com</td>
                 <td>24</td>
                 <td>2019-02-04</td>
            </tr>
            <tr> 
                <th scope="row">3425</th>

                <td>Kavya Pulluri</td>
                <td>High-tech</td>
                <td>kavya2@gmail.com</td>
                <td>25</td>
                <td>2021-11-28</td>
            </tr>
            <tr>
                <th scope="row">2378</th>

                <td>Akhil Thota</td>
                <td>Manufacturing</td>
                <td>akhil@gmail.com</td>
                <td>23</td>
                <td>2021-12-02</td>
            </tr>
            <tr>
                <th scope="row">5431</th>

                <td>Vamsi Padipala</td>
                <td>High-tech</td>
                <td>vamsi@gmail.com</td>
                <td>27</td>
                <td>2018-02-22</td>
            </tr>
            <tr>
                <th scope="row">4378</th>

                <td>Trushita Mademula</td>
                <td>BPO</td>
                <td>trushi@gmail.com</td>
                <td>21</td>
                <td>2023-01-03</td>
            </tr>
            <tr>
                <th scope="row">6943</th>

                <td>Sampath Kandunuri</td>
                <td>Life Sciences</td>
                <td>sampath@gmail.com</td>
                <td>28</td>
                <td>2021-08-17</td>
            </tr>
            <tr>
                <th scope="row">1539</th>

                <td>Parvathi Chelkuri</td>
                <td>Retail</td>
                <td>parvathi@gmail.com</td>
                <td>27</td>
                <td>2021-04-21</td>
            </tr>
            <tr>
                <th scope="row">7304</th>

                <td>Saketh Nampally</td>
                <td>Insurance</td>
                <td>saketh@gmail.com</td>
                <td>25</td>
                <td>2020-03-18</td>
            </tr>
            <tr>
                <th scope="row">8641</th>

                <td>Swaroop Dongiri</td>
                <td>Telecoms</td>
                <td>swaroop@gmail.com</td>
                <td>30</td>
                <td>2021-04-20</td>
            </tr>
            <tr>
                <th scope="row">3579</th>

                <td>Neeraj Konidela</td>
                <td>Retail</td>
                <td>neeraj@gmail.com</td>
                <td>28</td>
                <td>2019-07-30</td>
            </tr>
        </tbody>
    </table>-->

