<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="https://en.wikipedia.org/wiki/Capgemini">AboutCapgemini <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://capgemini.talentnet.community/">Community</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.com/search?q=sso+capgemini&rlz=1C1UEAD_enIN983IN983&oq=sso&aqs=chrome.1.69i57j0i67l3j5j69i60l3.2239j0j7&sourceid=chrome&ie=UTF-8">EmpolyeePortal</a>
        </li>
        
       
          <li >
            <button class="btn btn-outline-success"  routerLink="/employee">Employee Details</button>
        </li>
        
          <li>
          <i class=" fa-duotone fa-poo-storm fa-2xs " style=" color: #1c7ed6; " ></i>
        </li>
      </ul>
    </div>
  </nav>
 
<router-outlet></router-outlet>
